h1,
p {
  font-family: Lato;
}
li {
  list-style: none;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 16px;
  padding: 16px;
  margin: 16px;
  background-color: blueviolet;
  color: white;
  font-family: sans-serif;
  text-align: center;
  max-width: 300px;
}

.searchbox {
  margin: 16px;
  height: 30px;
  width: 300px;
}

ul {
  padding: 0;
}

.post {
  border: 1px solid black;
  margin-bottom: 16px;
  padding: 8px;
}

.tabs {
  display: flex;
  gap: 8px;
}

.tabs > button {
  padding: 4px;
  cursor: pointer;
}

.tabs > button.active {
  background-color: blueviolet;
  color: white;
}

.note {
  background-color: pink;
  padding: 4px;
}
